ç@CHARSET "ISO-8859-1";

/*Plantilla Principal*/

.cabecera{height: 8%;}

.menu{
	display: block; /* set up as a block */
	height: 15%; /* set height to full page */
	max-height: 15%;
	overflow: auto; /* add scroll bars as required */
	position: relative;
	/* set up relative positioning so that z-index will work */
	z-index: 3; /* allocate a suitable z-index */
}

.cuerpo {
	display: block; /* set up as a block */
	height: 77%; /* set height to full page */
	max-height: 82%;
	overflow: auto; /* add scroll bars as required */
	position: relative;
	/* set up relative positioning so that z-index will work */
	z-index: 3; /* allocate a suitable z-index */
}

.tablas{
	width: 85%;
	margin: 2em 2em 2em 2em;	
}

.paneles{
	width: 85%;
	margin: 2em 2em 2em 2em;	
}

/*Login*/
.panelInicioSesion{
	width: 20%;
	margin: 0 38% 0 38% ;
	margin-top: 10em;
}

.panelInicioSesion button{
	margin-left: 35%;
}

/*Menu*/

.cuerpoSuperior {height: 2em; width: 100%; position: relative;}
.cuerpoSuperior table{width: 100%; }
.seccionUsuario{width: 13%;text-align: left;}
.seccionPerfil{width: 13%;text-align: left;}
.seccionCerrarSesion{width: 13%; text-align: left;}

.formularioRegistro{width:100%;}



/*para la parte inferior donde esta Fisi*/
footer { 
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 15px;
  padding: 20px 0 5px 0;
  text-align: center; 
  border-top: 1px solid #000;
  background: #545454;
  color: #A8AA94;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #A8AA94;
  text-decoration: none;
}

#logo #logo_text { 
  position: absolute; 
  top: 5px;
  left: 0;
}

.formColumnaIzquierda label{
	float: right;
	margin-right: 15px;
}
